

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: #f0f0f0;
background: linear-gradient(181deg, rgba(240, 240, 240, 1) 0%, rgba(245, 213, 149, 1) 84%, rgba(255, 255, 255, 1) 100%);
margin: 0;
left: 0;
}

.card{
    background: #fff;
    border-radius: 15px;
    margin-top: 30px;
    box-shadow: -3px 15px 53px -9px rgba(0,0,0,0.75);
-webkit-box-shadow: -3px 15px 53px -9px rgba(0,0,0,0.75);
-moz-box-shadow: -3px 15px 53px -9px rgba(0,0,0,0.75);
width: 600px;
padding: 1.5rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

h4{
    font-size: 25px;
    font-weight: 700;
    line-height: 3rem;
    text-align: center;
}

p{
    margin-top: 10px;
    text-align: center;
}

span{
    color: blue;
}